* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont { display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: blueviolet;
        min-height: 500px;

}

div { background-color: aqua;
      width: 200px;
      text-align: center;
      margin: 10px;
      padding: 30px;

}

